.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  text-align:center;
  padding:20px;
}

.title{
  font-size:60px;
  color:white;
}

.subtitle{
  font-size:40px;
  color:white;
  text-align: center;
}

.scoreInput{
  margin:0 5px 0 5px;
  width:25px;
  height:25px;
}

.scoreInput{
  margin:0 5px 0 5px;
  width:25px;
  height:25px;
  text-align: center;
}

.teamsInput{
  width:250px;
  height:25px;
}

.inputsContainer {
  padding:0 0 20px 0;
}

.botonStyle{
  display:block;
  margin:20px auto;
  width:100px;
  height:35px;
  background:#e7dddb;
  cursor:pointer;
}

.row{
  text-align: center;
  text-Transform: uppercase;
  font-weight: bold;
  height:25px;
}

.table{
  border: #ccc solid 1px;
  border-radius: 10px;
  width: 400px;
  padding: 10px 0px 10px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color:aliceblue;
}

.tableBox{
  display:flex;
  justify-content:center;  
}

.errorMessage{
  color:red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
